<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">vallila.org</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://federicoleva.eu" property="cc:attributionName" rel="cc:attributionURL">federicoleva.eu</a>, <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons BY-SA 3.0</a>.
